h1
{
    padding: 20px;
    background-color: white;
    color: #4B0082; /* Dark purple */
    text-align: center;
}
h2.special
{
    text-align: center;
}
h2, h3, h4
{
    color: #4B0082; /* Dark purple */
    margin-top: 0;
    margin-bottom: 0;
}
h4.uniq
{
    color: #403f40; /* Teal*/
}

h5
{
    text-align: center;
    color: #000000;
}
body 
{
    background-color: #e4cbf4; /* Lilac color */
    margin-left: 5%;
    margin-right: 5%;
}

p.default 
{
    color: #000000; /* Black */
    text-align: left; /* Center align text */
}
p.special
{
    text-align: center;
}
p.menu
{
    color: #4B0082; /* Dark Purple */
    text-align: center; /* Center align text */
}

.column 
{
    margin-left: 10%;
    float: left;
    width: 30%;
}
  
  /* Clear floats after the columns */
  .row:after 
{
    content: "";
    display: table;
    clear: both;
    align-items: center;
}

td.izq
{
    text-align: left;
}
